{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href='/static/meeting_scheduler/css/master.css'>
</head>
<body>
    <div class="container">
    <h1>Please enter your details</h1>
    <div style="width:34%">
    <form class="post-form" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>
                    <div class="form-group has-errors text-danger small">
                    </div>
                    <div class="form-group">
                        {% if field.name != 'date_time' %}
                            <label class="mylabel">{{ field.label }}</label>
                        {% endif %}
                        {{field}}
                    </div>
                    {% endfor %}
            {% if captcha %}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6Lc9YVEUAAAAAJM7QsN_XF3gqwollVC1fz5oTac_"></div>
            {% endif %}
                <br>
                <button type="submit" class="save btn btn-default" style="width:100%" name="button">Confirm</button>
          </form>
        </div>
    </div>
        {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
    </body>
</html>
