
.navbar-inverse{
    background: darkblue;
}

.nav.navbar-nav.authed-nav li a{
    color: aliceblue;
}

.navbar-collapse.collapse {
    color: azure;
}

header{
    margin: 0 1.5% 24px 1.5%;
}

h1 {
    color: darkblue;
    font-family: "Avenir Next Condensed";
    font-size: 250%;
}

code {
  background: #fff;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}

.g-recaptcha {
    transform:scale(1.05);
    transform-origin:0 0;
}